<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini apps</title>
</head>
<body>
<h1>mini apps</h1>

<h2 id='string-reverse-title'>string reverse</h2>
<form method="POST" action="">
    <input name="item_to_reverse" type="text" id="string-reverse-input" placeholder='Enter a word'>
    {% csrf_token %}
</form>
{% if request.method == 'POST' %}
    <p id='string-reverse-result'>{{reversed_word}}</p>
{% endif %}
<hr>
</body>
</html>