{% extends 'base.html' %}

{% block title %}Level: 1{% endblock title %}
            

{% block content %}
    <div class="row">
        <div class="col-4 text-left">
            <p id='player'>Player: Questy</p>
            <p id='score'>Score: 0</p>
            <p id='rolls'>Rolls: 2</p>
        </div>
        <div class="col-4">
            <br>
            <form action='' method='POST'>
                <input type='text' name='Questy' hidden>
                <button type=submit>Roll Dice!</button>
                {% csrf_token %}
            </form>
        </div>
        <div class="col-4">
            <p>Score to beat: <span id='score_to_beat'>2</span>2</p>
        </div>
    </div>
{% endblock content %}