{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini apps</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<h1 class="p-2">mini apps</h1>
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h2 id='string-reverse-title'>{% block title %}{% endblock title %}</h2>
    {% block content %}{% endblock content %}
  </div>
</div>
</body>
</html>
